.ballonpic{
    height: 300px;
}
#borderimg{
    background-color: #6082B6;
    color: white;
}
body {
  background-image: url('images/ballon.jpg');
  background-size: cover;
}
#wrapper{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    list-style-image: url('images/listimage.png');
}
.specialBorder{
    border: 10px solid transparent;
    padding: 10px;
    border-image: url("images/newborder.jpg") 30 round;
}